.modal-container {
  padding: 20px;
}

.modal-header-css {
  border-bottom: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header-css-full {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* TODO: Understand how to add color to close button */
.modal-header-css .close-button, .modal-header-css-full .close-button {
  cursor: pointer;
  box-sizing: content-box;
  padding: 0.25em 0.25em;
  color: #007B8F;
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
}
