.popover-div, .tooltip-div {
  padding: 10px 7px;
  display: flex;
  flex-direction: column;
}

.popover-div {
  box-shadow: 0 0 10px #c3c1c1;
}
#popover-container, .popover-arrow::after, .popover-arrow::before {
  border: none; 
}

.popover-paragraph, .tooltip-paragraph {
  margin: 0;
  text-align: left;
}

.popover-title, .tooltip-title {
  display: flex;
}